.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.w-full {
  width: 100%;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.b-none {
  border: none;
}

.overflow-y-auto {
  overflow-y: auto;
}
